db/
incremental_db/compiled_partitions/
output_files/
verilator/x64/Release/
verilator/obj_dir/
verilator/.vs/sim/v17/Browse.VC.db
verilator/.vs/sim/v17/Browse.VC.opendb
verilator/.vs/sim/v17/Browse.VC.db-wal
verilator/.vs/sim/v17/Browse.VC.db-shm
